<div id="game">
  <h1>Space Invaders</h1>
  <div data-controller="game" data-game-enemies-value="<%= enemies %>" data-game-player-value="<%= player %>" data-game-space-value="<%= space %>">
    <canvas data-game-target="canvas" style="width: 600px; height: 600px;"></canvas>
  </div>
</div>
